<section>
  <div class="container forum">
    <div class="forum_title">
      <p>Diễn đàn - Hỏi đáp</p>
    </div>
    <div class="forum_content">
      <div class="forum_content_item">
        <div class="forum_content_item_info"><a class="item_info_title" href="">Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Vel sequi, fuga adipisci nam iusto nesciunt.</a>
          <div class="item_info_content"><a href=""><img src="https://linkneverdie.net/Assets/Imgs/Avatar/avatar.jpg" alt="Avatar"><span>Name</span></a><span>Time ago</span><a class="forum_tag" href="">Tag</a></div>
        </div>
        <div class="forum_content_item_meta">
          <div>
            <p>00</p><span>lượt xem</span>
          </div>
          <div>
            <p>00</p><span>trả lời</span>
          </div>
        </div>
      </div>
      <div class="forum_content_item">
        <div class="forum_content_item_info"><a class="item_info_title" href="">Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Vel sequi, fuga adipisci nam iusto nesciunt.</a>
          <div class="item_info_content"><a href=""><img src="https://linkneverdie.net/Assets/Imgs/Avatar/avatar.jpg" alt="Avatar"><span>Name</span></a><span>Time ago</span><a class="forum_tag" href="">Tag</a></div>
        </div>
        <div class="forum_content_item_meta">
          <div>
            <p>00</p><span>lượt xem</span>
          </div>
          <div>
            <p>00</p><span>trả lời</span>
          </div>
        </div>
      </div>
      <div class="forum_content_item">
        <div class="forum_content_item_info"><a class="item_info_title" href="">Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Vel sequi, fuga adipisci nam iusto nesciunt.</a>
          <div class="item_info_content"><a href=""><img src="https://linkneverdie.net/Assets/Imgs/Avatar/avatar.jpg" alt="Avatar"><span>Name</span></a><span>Time ago</span><a class="forum_tag" href="">Tag</a></div>
        </div>
        <div class="forum_content_item_meta">
          <div>
            <p>00</p><span>lượt xem</span>
          </div>
          <div>
            <p>00</p><span>trả lời</span>
          </div>
        </div>
      </div>
      <div class="forum_content_item">
        <div class="forum_content_item_info"><a class="item_info_title" href="">Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Vel sequi, fuga adipisci nam iusto nesciunt.</a>
          <div class="item_info_content"><a href=""><img src="https://linkneverdie.net/Assets/Imgs/Avatar/avatar.jpg" alt="Avatar"><span>Name</span></a><span>Time ago</span><a class="forum_tag" href="">Tag</a></div>
        </div>
        <div class="forum_content_item_meta">
          <div>
            <p>00</p><span>lượt xem</span>
          </div>
          <div>
            <p>00</p><span>trả lời</span>
          </div>
        </div>
      </div>
      <div class="forum_content_item">
        <div class="forum_content_item_info"><a class="item_info_title" href="">Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Vel sequi, fuga adipisci nam iusto nesciunt.</a>
          <div class="item_info_content"><a href=""><img src="https://linkneverdie.net/Assets/Imgs/Avatar/avatar.jpg" alt="Avatar"><span>Name</span></a><span>Time ago</span><a class="forum_tag" href="">Tag</a></div>
        </div>
        <div class="forum_content_item_meta">
          <div>
            <p>00</p><span>lượt xem</span>
          </div>
          <div>
            <p>00</p><span>trả lời</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>