<div class="main_wrapper">
  <div class="container">
    <div class="row align-content-sb">
      <div class="tab__wrapper" role="tab-movies">
        <button class="tab-active" id="tab_new_movie"><i class="fas fa-gamepad" aria-hidden="true"> </i><span>&nbsp;Phim
            mới</span></button>
        <button id="tab__top_movie"><i class="fab fa-hotjar" aria-hidden="true"> </i><span>&nbsp;TOP phim hay</span></button>
        <button id="tab__update_movie"><i class="fas fa-arrow-circle-up" aria-hidden="true"></i><span>&nbsp;Update</span></button>
      </div>
      <div class="tab__contain tab__contain-active" id="tab_new_movie" role="tab-movie-item">
        <div class="post">
          <div class="post_img"><img src="https://linkneverdie.com/Assets/Imgs/Post/thumbnail6582.jpg" alt=""></div>
          <div class="post_content"><a class="post_content_title" href="#">LOST EMBER</a>
            <p class="post_content_tags"><a href="#">Hành động,</a><a href="#">Phiêu lưu,</a><a href="#">Indie</a>
            </p>
          </div>
        </div>
        <div class="post">
          <div class="post_img"><img src="https://linkneverdie.com/Assets/Imgs/Post/thumbnail6601.jpg" alt=""></div>
          <div class="post_content"><a class="post_content_title" href="#">LOST EMBER</a>
            <p class="post_content_tags"><a href="#">Hành động,</a><a href="#">Phiêu lưu,</a><a href="#">Indie</a>
            </p>
          </div>
        </div>
        <div class="post">
          <div class="post_img"><img src="https://linkneverdie.com/Assets/Imgs/Post/thumbnail6602.jpg" alt=""></div>
          <div class="post_content"><a class="post_content_title" href="#">LOST EMBER</a>
            <p class="post_content_tags"><a href="#">Hành động,</a><a href="#">Phiêu lưu,</a><a href="#">Indie</a>
            </p>
          </div>
        </div>
        <div class="post">
          <div class="post_img"><img src="https://linkneverdie.com/Assets/Imgs/Post/thumbnail6586.jpg" alt=""></div>
          <div class="post_content"><a class="post_content_title" href="#">LOST EMBER</a>
            <p class="post_content_tags"><a href="#">Hành động,</a><a href="#">Phiêu lưu,</a><a href="#">Indie</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>