@media (min-width: 576px){
  
}
/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */
@media (min-width: 768px){
  .license__steam{
    width: 30% !important;
  }
}
/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */
@media (min-width: 992px){
  // .row{
  //   flex-flow: row nowrap;
  // }
  .system__body{
    flex-direction: row !important;
  }
  .main__left{
    width: 70% !important;
  }
  .main__rigth{
    flex: 1 !important;
  }
  .license__steam{
    width: 100% !important;
  }
}
/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */
@media (min-width: 1200px){
  
}
/* ======================================================================= */
/* ======================================================================= */
/* ======================================================================= */
